
{% block print_nave %}

<section class="data-way">

    <section class="upload">
        <div class="flip-container flip-upload">
            <div class="flipper">
                <div class="front ">
                    <a href="/upload"><span class="eins">Print options!</span></a>
                </div>
                <div class="back up-hover">
                    <a href="/upload"></a>
                    <span>Select you print options.</span>
                    <img src="/icons/upload1.png">
                </div>
            </div>
        </div>

        <div class="flip-container flip-upload">
            <div class="flipper">
                <div class="front ">
                    <a href="/data"> <span class="zwei">Informations!</span></a>
                </div>
                <div class="back cust-hover">
                    <a href="/data"></a>
                    <span>Now just give us information to send you the model!</span>
                    <img src="/icons/customize1.png">
                </div>
            </div>
        </div>

        <div class="flip-container flip-upload">
            <div class="flipper">
                <div class="front ">
                    <a href="/pay_opt"> <span class="zwei">Pay options!</span></a>
                </div>
                <div class="back cust-hover">
                    <a href="/pay_opt"></a>
                    <span>Chose you payment options!</span>
                    <img src="/icons/customize1.png">
                </div>
            </div>
        </div>

        <div class="flip-container flip-upload">
            <div class="flipper">
                <div class="front ">
                    <a href="/confirm"> <span class="zwei">Confirmation!</span></a>
                </div>
                <div class="back cust-hover">
                    <a href="/confirm"></a>
                    <span>And now just confirm it!</span>
                    <img src="/icons/customize1.png">
                </div>
            </div>
        </div>

       </section>

    </section>

    {% endblock %}
